body {
  background-color: azure;
}
.canidate {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


img.headShot {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
    padding: 20px;
}


/* section.basicInfo {
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; */
}
.theInfo {
   display: flex;
   justify-content: center;
   padding: 20px;
   background-color: blueviolet;
   border: 5px solid red;
}

/*.committees {
  display: flex;
  justify-content: flex-start;
  align-self: right;
} */
