body {
  background-color: azure;
}
.canidate {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

img.headShot {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
    padding: 20px;
    margin: 0px 0px 0px 55px; 
}

.theInfo {
   display: flex;
   flex-direction: column;
   align-content: center;
   justify-content: flex-end;
   padding: 20px;
  
}

h2 {
    display: flex;
    justify-content: center;
}
p {
    display: flex;
    justify-content: center;
}

.secondaryInfo {
  padding: 80px;
  border-top: 10px;
  
}

.legislation__links {
  padding: 20px;
  border: 20px;
}

.legislation__links h3 {
  display: flex;
  justify-content: center;
}

.legislation__links li {
  padding: 0px 30px 0px 0px;
  display: flex;
  justify-content: center;
}

.committees h3 {
  display: flex;
  justify-content: center;
}
